<%= form_with(url: quiz_questions_path, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :question_num, :value => 1 %>
  <div class="field">
    <%= form.label "Question" %>
    <%= form.text_area :body %>
  </div>
  <%= form.hidden_field :body_type, :value => "Q" %>
  <div class="actions">
    <%= form.submit "Save"  %>
  </div>
<% end %>

<%= form_with(url: quiz_questions_path, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :question_num, :value => 1 %>
  <div class="field">
    <%= form.label "Correct Answer" %>
    <%= form.text_area :body %>
  </div>
  <%= form.hidden_field :body_type, :value => "C" %>
  <div class="actions">
    <%= form.submit "Save" %>
  </div>
<% end %>

<%= form_with(url: quiz_questions_path, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :question_num, :value => 1 %>
  <div class="field">
    <%= form.label "False Answer" %>
    <%= form.text_area :body %>
  </div>
  <%= form.hidden_field :body_type, :value => "F" %>
  <div class="actions">
    <%= form.submit "Save"  %>
  </div>
<% end %>

<%= form_with(url: quiz_questions_path, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :question_num, :value => 1 %>
  <div class="field">
    <%= form.label "False Answer" %>
    <%= form.text_area :body %>
  </div>
  <%= form.hidden_field :body_type, :value => "F" %>
  <div class="actions">
    <%= form.submit "Save"  %>
  </div>
<% end %>

<%= form_with(url: quiz_questions_path, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :question_num, :value => 1 %>
  <div class="field">
    <%= form.label "False Answer" %>
    <%= form.text_area :body %>
  </div>
  <%= form.hidden_field :body_type, :value => "F" %>
  <div class="actions">
    <%= form.submit "Save"  %>
  </div>
<% end %>