<p id="notice"><%= notice %></p>

    <h3>My Created Quizzes</h3>
    <div class="card-deck mt-4">
<% @quizzes.limit(5).each do |quiz| %>

        <div class="card mb-4" style="width: 12rem;">
        <% if  quiz.img_url.present? %>
            <img class="card-img-top img-fluid" src=<%= quiz.img_url %> alt=<%= quiz.title %> style="width: 15rem;">
                   <% else %>

                   <%= image_tag 'badgeunderconstruction.png', :class=>"card-img-top img-fluid",  :style => "width: 15rem;"%>
            <% end %>
            <div class="card-body">
                <h4 class="card-title"><%= quiz.title %></h4>
                <p class="card-text"><%= truncate quiz.description, length: 80 %></p>
              
               <%= link_to 'View this quiz', quiz %><br/>
        <%= link_to 'Edit', edit_quiz_path(quiz) %><br/>
        <%= link_to 'Delete', quiz, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
        </div>

<% end %>
  </div>

<br>

<%= link_to 'Create a New Quiz', new_quiz_path %>
