<h1>Review Quiz</h1>

<div class="container">
	<div class="row">
		<div class="col-4">
			<% badge = @quiz.badges.last %>
			<%= image_tag url_for(badge.img_url), :class => "w-50 img-fluid" %><br>
			<%= badge.title %><br>
			<%= render 'form', quiz: @quiz %>
		</div>
		<div class="col-8 text-left mb-5">
			<h4>Questions</h4>
				<% @question = @quiz.questions %>
				<%# @question.where(body_type: "Q").each do |question| %>
				<% @question.order(:question_num, :body_type).reverse.each do |question| %>
				<div>
					<% if question.body_type == "Q"%>
						<br>
						<span class="h5"><%= question.body %></span>
						<br>
					<% elsif question.body_type == "C" %>
						<span class="text-success"><%= question.body %></span>
					<% else %>
						<%= question.body %>
					<% end %>
				</div>
			<% end %>
		</div>
<%# link_to "Link to create a new Badge", new_quiz_badge_path(@quiz), :class => "my-class"%>
	</div>
		<div class="col-6 offset-3">
			<%= link_to "Add another question", new_quiz_question_path(@quiz), :class => "btn btn-outline-primary m-3"%>
			<%= link_to 'Try it out!', @quiz, :class => "btn btn-outline-primary m-3" %>
		</div>
</div>