<h1>Editing Quiz</h1>

<%= render 'form', quiz: @quiz %>

<%= link_to 'Show', @quiz %> |
<%= link_to 'Back', quizzes_path %>

<br/>
<br/>
Add button to create badge for this quiz

<%= link_to "Link to create a new Badge", new_quiz_badge_path(@quiz), :class => "my-class"%>

<%= link_to "Link to create Questions", new_quiz_question_path(@quiz), :class => "my-class"%>