<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @quiz.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @quiz.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quiz.description %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @quiz.img_url %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
