<p id="notice"><%= notice %></p>

<p>
  <strong>Quiz:</strong>
  <%= @badge.quiz_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @badge.title %>
</p>

<p>
  <strong>Criteria:</strong>
  <%= @badge.criteria %>
</p>

<p>
  <%= image_tag url_for(@badge.img_url), :style => "width: 15rem;"%>
</p>

<%= link_to 'Edit', edit_badge_path(@badge) %> |
<%= link_to 'Back', badges_path %>