<div class="row">
    <div class="col-md-12">
    <h1>Take Quizzes, Earn Badges!</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form  action="/quizzes" class="mb-2 mt-4" method="get">
        <input  type="text" placeholder="Search" name="search" aria-label="Search" >
        <button class="btn btn-outline-primary btn-sm mb-2">Search</button>
        </form>

        
    </div>
</div>

<div class="row justify-content-center">
    <h4>Popular Quizzes</h4>
    <div class="card-deck mt-4">
<% @quizzes.limit(5).each do |quiz| %>

        <div class="card col-2 mb-4 d-flex flex-column" style="width: 12rem;">
            <% if @quizzesCount[quiz.id].present? %>
            <span class="position-absolute">
            Hit:<%= @quizzesCount[quiz.id]%></span>
            <% end %>

 
            <% if quiz.img_url.present? %>
            <img class="card-img-top img-fluid" src=<%= quiz.img_url %> alt=<%= quiz.title %>>
            <% else %>
            <img class="card-img-top img-fluid" src="/test/badgeunderconstruction.png" alt=<%= quiz.title %>>
            <% end %>
            <div class="card-body mt-n3">
                <h6 class="card-title"><%=  truncate quiz.title,length: 30 %></h5>
                <p class="card-text"><%= truncate quiz.description, length: 60 %></p>          
            </div>
            <div class="mt-auto p-2"><a href="/quizzes/<%= quiz.id %>" class="btn btn-outline-primary btn-sm">Take this quiz</a></div>
        </div>

<% end %>
  </div>

    <h3>Badges Leaderboard</h3>
    <div class="card-deck mt-4">
<% @users.limit(5).each do |user| %>

        <div class="card mb-4" style="width: 12rem;">

            <% if user.dp.present? %>
            <img class="card-img-top img-fluid pt-2" src=<%= url_for(user.dp) %> style="width: 10rem;">
            <% else %>
            <img class="card-img-top img-fluid pt-2" src="https://www.gstatic.com/images/icons/material/product/1x/avatar_circle_blue_120dp.png" style="width: 10rem;">
            <% end %>
            <div class="card-body">
                <h4 class="card-title"><%= user.username %></h4>
                <p class="card-text">
                <% if @badgesCount[user.id].present? %>
                Badges:<%= @badgesCount[user.id]%>
                <% end %>

                </p>


            </div>
        </div>

<% end %>
  </div>
